/* 
<!-- notfications css --> */

.notification {
    color: rgb(84, 99, 235);
    text-decoration: none;
    padding: 10px 5px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
}

.notification:hover {
    background: #F6F5F5;
    color: white;
}

.notification .badge {
    position: absolute;
    top: -2px;
    right: -3px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}


/* <!-- end notfications css --> */


/* start internal menu css */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.ol,
li,
a {
    text-decoration: none;
}


/*  end internal menu css */


/* menu css */

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

.ul,
li:hover {
    background-color: #F6F5F5;
    border-radius: 7%;
}


/* end menu css */


/* back to top css */

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 15px;
    /* Place the button at the bottom of the page */
    right: 0px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 10px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 10px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #0D6EFD;
    /* Add a dark-grey background on hover */
}


/* end  back to top css */


/* start no content copy  */

* {
    user-select: none;
}

*::selection {
    background: none;
}

*::-moz-selection {
    background: none;
}


/* end no content copy  */


/* h */

@import url("https://fonts.googleapis.com/css?family=Codystar:300&display=swap");
.neons {
    text-align: center;
}

.neons h1 {
    background: black;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    -webkit-animation: glow 1.5s ease-in-out infinite alternate;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        color: rgb(255, 254, 255);
        text-shadow: 0 0 10px #19025a, 0 0 40px #ffffff, 0 0 90px #ffffff;
    }
    to {
        color: rgb(255, 0, 0);
        text-shadow: 0 0 20px #ffffff, 0 1 90px #bd00b3;
    }
}


/* start  table css */

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

th {
    text-align: left;
}

thead th {
    background-color: #003582;
}

tbody tr:hover {
    background-color: #003582;
    color: white;
    ;
}

tbody td {
    position: relative;
    color: #003582;
    font-weight: bold;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: #1d4786;
    color: white;
    z-index: -1;
}


/* end table css */