@import url("https://fonts.googleapis.com/css?family=Codystar:300&display=swap");

.neons {
  margin-top: 10px;
  text-align: center;
}

.neons h1 {
    background: black;
    padding: 10px;
    
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  -webkit-animation: glow 1.5s ease-in-out infinite alternate;
 
  animation: glow 1.5s ease-in-out infinite alternate;




  
}

@keyframes glow {
  from {
    color: rgb(255, 254, 255);
    text-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff,  0 0 90px #ffffff;
  }
  to {
    color: rgb(255, 0, 0);
    text-shadow: 0 0 20px #ffffff, 0 1 90px #fffafa;
  }
}